<div class="row">
  <div class="col-xs-12">
      <img [src]="" alt="Foto da receita" class="img-responsive" style="max-height: 50px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Nome da receita</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Opções da receita <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Editar receita</a></li>
        <li><a href="#">Apagar receita</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descrição da receita
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredientes
  </div>
</div>